Questão 1

Ler: nota1, nota2, nota3

Media = (nota1+nota2+nota3)/3

media com 2 casas decimais

Mostrar: Média="valor da Media"

Se média > 6, Mostrar: "Aprovado", se não, Reprovado

Questão 2

Ler: Numero de testes, Quantidade total de ingressos, %Popular, %Geral, %Arquibancada, %Cadeira

Numero de vezes rodados = 0

Codigo é rodado (Numero de vezes rodados=Numero de vezes rodados + 1)

Se Numero de vezes rodados = Numero de testes não rodar codigo

Renda do jogo =  %Popular + %Geral*5 + %Arquibancada*10 + %Cadeira* 20

Mostrar: Renda total do teste numero "Numero de vezes rodados" = 'Renda do jogo correspondente'

Questão 3

Ler: N1, N2, N3

N1,N2,N3 não podem ter 2 algoismos

Concatenação = N1*100+N2*10+N3

Quadrado = Concatenação * Concatenação

Mostrar: Concatenação, quadrado

Se N1,N2 ou N3 não Corresponder a condição => mostrar: Digito Invalido

Questão 4

Ler: Salario Minimo, Quantide de Kw gasta

Custo por Kw = 0,007*Salario Minimo

Custo do Consumo = Quantide de Kw gasta * Custo por Kw

Valor Com desconto: Custo do Consumo*0,9

Mostrar: {Custo por kW: "Custo por Kw"

Custo do consumo: "Custo do Consumo"

Custo com desconto: Valor Com desconto}

Questâo 5

Ler: Conta, Gasto/m³, Tipo de consumidor

Se Tipo de consumidor = R => Valor da conta = 5 + 0,05*Gasto/m³

Se Tipo de consumidor = C => Valor da conta = 500 + (Gasto/m³-80) * 0,25

Se Tipo de consumidor = I => Valor da conta = 800 + (Gasto/m³-100) * 0,04

Mostrar: Conta: "Conta"

Valor: "Valor da conta"

Questão 6

Ler: N de temperaturas, Temperatura (pelo numero de "N de temperaturas")

Tc=(5*(Temperatura - 32))/9

Realiza o calculo para N de temperaturas

Mostrar: Temperatura FAHRENHEIT EQUIVALE A Tc CELSIUS (pelo numero de "N de temperaturas")

Questão 7

Definir F, P, C, mm

ler: F, P

C=(5*(F - 32))/9

mm = P*25.4

Mostrar: O VALOR EM CELSIUS = "C"

A QUANTIDADE DE CHUVA E = "mm"

Questão 8

definir: R, H, Ac, Al, At, C

Ler: R, H

Ac = 3.14159 * R^2

Al = 2 * 3.14159 * R * H

At = 2 * Ac + Al

C = At * 100

Mostrar: O VALOR DO CUSTO E = "C"

Questão 9

Definir: A, B, C, Delta

Ler: A, B, C

Delta = B^2 - 4 * A * C

Mostrar: O VALOR DE DELTA E = "Delta"

Questão 10

Definir: a, b, c, d, determinante

Ler: a, b, c, d

Determinante = a * d - b * c

Mostrar: O VALOR DO DETERMINANTE E = 'determinante"

Questão 11

Definir: número inteiro

Ler: número inteiro

Se resto número inteiro/3 ou número inteiro/5 == 0 :

Mostrar: O NUMERO E DIVISIVEL

Ou:

Mostrar: O NUMERO NAO E DIVISIVEL

Questão 12

Definir: T, V, V1, V2

V1 = T * 10 / 3 (parte inteira da divisão por 3)

V2 = T % 3 * 5 (resto da divisão por 3 multiplicado por 5)

V = V1 + V2

Mostrar: O VALOR A PAGAR E = V

Questão 13

Definir: nota, conceito

Ler: nota

Se nota estiver no intervalo (9.0, 10): conceito = "A"

Senão, se nota estiver no intervalo (7.5, 9.0): conceito = "B"

Senão, se nota estiver no intervalo (6.0, 7.5): conceito = "C"

Senão: conceito = "D"

Mostrar: NOTA = nota CONCEITO = conceito

Questão 14

Definir: h, a, V, Ab

Ler: h, a

Ab = (3 * a^2 * sqrt(3)) / 2

V = (1/3) * Ab * h

Mostrar: O VOLUME DA PIRAMIDE E = V

Questão 15

Definir: N (valor inteiro), par (número par) par2

Ler: N

para par < N e par/2 resto == 0{

par2 = par^2

Mostrar: par^2 = par2}

Questão 16

Definir: salario , salario_reajustado

Ler: salario

Se salario <= 300.00:

salario_reajustado = salario * 1.5

Senão:

salario_reajustado = salario * 1.3

Mostrar: SALARIO COM REAJUSTE = salario_reajustado

Questão 17

Definir: x, y, par

Ler: x, y

Se x/2 resto == 0:

Iniciar um loop de y iterações:

Mostrar: par

par = par + 2

Senão:

Mostrar: O PRIMEIRO NUMERO NAO E PAR

Questão 18
Definir: a1 , r, n, soma, i

Ler: a1, r, n

Inicializar = 0

 Para i< n {
i = 0

i = i + 1

Soma = soma + a1 + (i - 1) * r }

Mostrar: soma

Questão 19

Definir: n, S

Ler: n

Se n < 1 mostrar: "Numero invalido!"

Se não: K < n{

  k = 0

 k = k + 1

S = 0.

S = S + 1/K
}

Mostrar: S

Questão 20

Definir: horas, minutos, segundos, total_segundos

Ler: horas, minutos, segundos

total_segundos = horas * 3600 + minutos * 60 + segundos

Mostrar: O TEMPO EM SEGUNDOS E ="total_segundos"